name: CI

on:
    push:
        branches: [master]
    pull_request:

jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - run: corepack enable
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  registry-url: https://registry.npmjs.org
                  node-version: 22.x
                  cache: yarn
            - run: yarn
            - run: yarn lint
            - run: yarn test

    release:
        needs: ci
        if: github.ref == 'refs/heads/master'
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write
        steps:
            - run: corepack enable
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
            - uses: actions/setup-node@v4
              with:
                  registry-url: https://registry.npmjs.org
                  node-version: 24.x
                  cache: yarn
            - run: |
                  git config user.name "${GITHUB_ACTOR}"
                  git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
            - run: yarn
            - run: yarn release --ci
              env:
                  NPM_CONFIG_PROVENANCE: true
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
